.avatarImg {
  width: 80px;
  height: 80px;
  margin-right: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.author {
  display: flex;
  align-items: center;
  text-align: center;
}

.indProfiles {
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  width: 30%;
  border-radius: 10px;
  background-color: rgba(3, 138, 255, 0.8);
  color: white;
}

.indProfiles:hover {
  cursor: pointer;
}
